[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
deepspeech = "*"
youtube-dl = "*"
ffmpeg = "*"
ffprobe = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.7"
